<% flash.each do |type, message| %>
  <% style = type.to_s == "notice" ? "bg-sage-light text-sage border-sage/30" : "bg-rose-light text-rose-dark border-rose/30" %>
  <div class="border-2 rounded-lg px-4 py-3 mb-4 text-sm <%= style %>">
    <%= message %>
  </div>
<% end %>
